@import '../../constants/constants.scss';

body {
  height: 100vh;
  margin: 0;

  background: $main-color; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, $main-color, $gradient-fallback-color); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, $main-color, $gradient-fallback-color); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font: 400 20px/24px Roboto, sans-serif;
}

.app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 90vw;
  height: fit-content;
  min-height: 90vh;
  
  background-color: #fff;
  border-radius: 10px;
}

.app__navigation {
  margin-top: 24px;
}

.app__page-description {
  margin-top: 40px;
}